@import "tailwindcss";

:root {
  --background: #faf9f7;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
